* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    overflow: hidden;
    header {
        background: white;
        width: 100%;
        height: 1.44rem;
        display: flex;
        align-items: center;
        border-bottom: .01rem solid #ccc;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 .3rem;
        >span {
            font-size: .49rem;
        }
        >p {
            width: 2.89rem;
            height: .96rem;
            border: .02rem solid #ccc;
            display: flex;
            border-radius: .48rem;
            i {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(1) {
                    border-right: .01rem solid #ccc;
                }
            }
        }
    }
    #scroll {
        flex: 1;
        overflow: hidden;
        .scolo {
            width: 100%;
            .soso {
                width: 100%;
                height: 5.27rem;
                border-bottom: .01rem solid #ccc;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .lj {
                background: white;
                width: 100%;
                height: 2.8rem;
                display: flex;
                dl {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    dt {
                        width: 1.14rem;
                        height: 1.14rem;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    dd {
                        margin-top: .22rem;
                        font-size: .3rem;
                    }
                }
            }
            .coso {
                width: 100%;
                height: 3.99rem;
                margin-top: .37rem;
                background: white;
                display: flex;
                flex-direction: column;
                >p {
                    width: 100%;
                    height: 1.55rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-size: .54rem;
                        font-weight: bold;
                        padding: 0 .1rem;
                    }
                }
                .cov {
                    flex: 1;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .left {
                        width: 3.01rem;
                        height: 2.03rem;
                        border: .02rem solid orange;
                        display: flex;
                        flex-direction: column;
                        border-radius: .05rem;
                        p {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:nth-child(1) {
                                width: 100%;
                                height: .84rem;
                                background: #f8f3eb;
                                font-size: .37rem;
                            }
                            &:nth-child(2) {
                                flex: 1;
                                display: flex;
                                align-items: center;
                                img {
                                    width: .37rem;
                                    height: .44rem;
                                }
                                span {
                                    font-size: .35rem;
                                }
                            }
                        }
                    }
                    .right {
                        width: 7.07rem;
                        height: 2.05rem;
                        border: .02rem solid orange;
                        border-radius: .05rem;
                        display: flex;
                        p {
                            display: flex;
                            flex-direction: column;
                            &:nth-child(1) {
                                display: flex;
                                width: .87rem;
                                height: 100%;
                                font-size: .45rem;
                                justify-content: center;
                                align-items: center;
                            }
                            &:nth-child(2) {
                                width: 3.97rem;
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                                span {
                                    display: flex;
                                    &:nth-child(1) {
                                        width: 100%;
                                        height: 1.3rem;
                                        font-size: .3rem;
                                    }
                                    &:nth-child(2) {
                                        width: .85rem;
                                        height: .31rem;
                                        line-height: .31rem;
                                        text-align: center;
                                        font-size: .23rem;
                                        background: #be8e40;
                                        border-radius: .02rem;
                                    }
                                }
                            }
                            &:nth-child(3) {
                                flex: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 1.01rem;
                                    height: 1.01rem;
                                }
                            }
                        }
                    }
                }
            }
            .loved {
                width: 100%;
                height: auto;
                margin-top: .37rem;
                background: white;
                display: flex;
                flex-direction: column;
                .up {
                    width: 100%;
                    height: 1.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:nth-child(1) {
                            font-size: .5rem;
                            flex: 2
                        }
                        &:nth-child(2) {
                            font-size: .35rem;
                            flex: 1;
                        }
                    }
                }
                .down {
                    width: 100%;
                    display: flex;
                    height: auto;
                    dl {
                        flex: 1;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        p {
                            font-size: .45rem;
                            text-align: center;
                            line-height: 1.42rem;
                        }
                        dt {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 2rem;
                                height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 1.63rem;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: .01rem solid #ccc;
        background: white;
        display: flex;
        dl {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            dt {
                width: .57rem;
                height: .63rem;
                display: flex;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            dd {
                font-size: .33rem;
                margin-top: .1rem;
            }
        }
    }
}